.attribution {
    font-size: 11px; text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  
  /*************************************************
      Mobile Layout
  **********************************/
  
  @media screen and (min-width: 400px) /*and (max-width: 768px)*/ {
    body {
      background-color: #edd9f2;
      background-image: url('/assets/images/background-pattern-mobile.svg');
      background-repeat: no-repeat;
      background-position-y: top;
      background-position-x: center;
      background-size: contain;
    }

    #star {

    }
    
    .box {
      background-color: white;
      margin: 100px 30px;
      border-radius: 10px;
      border: 1px solid white;
      padding: 20px;
    }
    
    .header h1 {
      margin-left: 20px;
    }

    .header, div {
      display: flex;
    }

    table div {
      justify-content: space-between;
    }
    
    .hidden {
      display: none;
    }
    
    span {
      padding: 20px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
      }
  
    tr {
        border-bottom: 1px solid #BDBDBD;
        display: flex;
        flex-direction: column;
      }
  
    tr td div h3 {
      margin-right: 40px;
    }
  }
  
  /*************************************************
      Tablet/Laptop Layout
  **********************************/
  
  @media screen and (min-width: 769px) and (max-width: 1440px) {
    
  }
  
  /*************************************************
      Desktop Layout
  **********************************/
  
  @media screen and (min-width: 1441px) {
    
  }